apiVersion: mcserverhosting.net/v2
kind: MinecraftServer
metadata:
#server name
  name: example-server
spec:
#controls some of the server.properties options
  config:
    icon: 
    modpack: 
    mods: 
    motd: 
    removeOldMods: false
    resourcePack:
      sha: 
      url: 
     server:
      gameSettings:
        announcePlayerAchievements: true
        commandBlocks: true
        difficulty: null
        flight: true
        hardcore: false
        nether: false
        pvp: false
        snooper: true
      maxTickTime: 20000
      network:
        maxPlayers: 50
        onlineMode: true
        query: true
      restrictions:
        forceGamemode: true
        ops: 
        whitelist: 
    world:
      generateStructures: false
      generatorSettings: 
      level: 
      mode: 
      name: 
      restrictions:
        maxBuildHeight: 256
        maxSize: 1000
        spawnProtection: 0
        viewDistance: 32
      seed: 
      spawnAnimals: false
      spawnNpcs: false
      url: 
  groupID: 1000
  java:
    args: 
    argsdd: fml.queryResult:confirm
    argsxx: -XX:+UseLargePagesInMetaspace -XX:+UseG1GC -XX:+UnlockExperimentalVMOptions
      -XX:MaxGCPauseMillis=100 -XX:+DisableExplicitGC -XX:TargetSurvivorRatio=90 -XX:G1NewSizePercent=50
      -XX:G1MaxNewSizePercent=80 -XX:G1MixedGCLiveThresholdPercent=50 -XX:+AlwaysPreTouch
      -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -XX:+UseLargePages
      -XX:LargePageSizeInBytes=2m
  minecraft:
    eula: true
    memory:
    #The max and minimum (initial) of memory, hugePages are set to 512M for all
    #note: ssh server takes 250M of the plan
      hugePages: 512M
      #hugePages are set to 512 for all
      initial: 
      max: 
     version:
  network:
    domainName:  play-example.mcserverhosting.red
    #if ports are needed the following can be kept,
    #if not required for plugins to use, feel feel free to remove
    ports:
    - name: 
      port: 
      protocol: 
  online: true
    #true for on, false for off
  overrideOnStartup: false
  pages: true
  runtime: 
  servercore:
    properties:
      url: 
      version: 
    redownload: false
    type: 
    #types offered by us are:
    #VANILLA, FORGE, SPIGOT, TUINITY, MAGMA, MOHIST, CATSERVER,
    #SPONGEVANILLA, FABRIC, and PAPER
  userID: 1001
