apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: minecraftservers.deployments.mcserverhosting.net
spec:
  group: deployments.mcserverhosting.net
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        x-kubernetes-preserve-unknown-fields: true
  scope: Namespaced
  names:
    plural: minecraftservers
    singular: minecraftserver
    kind: MinecraftServer
    shortNames:
    - mcserver
    - mcs
    - mc
    - mcservers
